body{
    background-color: gray
    ;
}


.principal{
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: column;
    display: flex;
    background-color: white;
    height: 500px;
    width: auto;
    align-items: center;
}

.notas{
    padding: 10px;
    background-color: rgb(225, 210, 193);
    height: 300px;
    width: 500px;
    
}