
/* Reset de estilos para garantir consistência entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh; /* Torna a página ocupar toda a altura da viewport */
}

/* Estilo do cabeçalho */
#menu {
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  text-align: center;
}

#nome {
  font-size: 1.5em;
}

/* Estilo da seção principal */
#principal {
  text-align: center;
}

/* Estilo do contador */
#contador {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilo dos botões */
#botoes {
  display: flex;
  justify-content: center;
  margin-top: 30%;
  margin-bottom: 100%;
}

.btn {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 1em;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.btn:hover {
  background-color: #0056b3;
}
